.form {
  max-width: 1200px;
  margin: 10px auto;
  color: rgb(62, 62, 255);
  -webkit-box-shadow: 8px 9px 14px 0px rgba(128, 126, 255, 0.2);
-moz-box-shadow: 8px 9px 14px 0px rgba(128, 126, 255, 0.2);
box-shadow: 8px 9px 14px 0px rgba(128, 126, 255, 0.2);
}

.form-header {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  cursor: pointer;
  -webkit-box-shadow: 8px 12px 7px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 8px 12px 7px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 8px 12px 7px -6px rgba(0, 0, 0, 0.2);
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(-180deg);
}

.form-content {
 background-color: #f0f0f0;
  max-height: 0;
  margin-top: -5px;
  z-index: 1;
  -webkit-box-shadow: 1px -3px 29px -6px rgba(0, 0, 0, 0.2) inset;
-moz-box-shadow: 1px -3px 29px -6px rgba(0, 0, 0, 0.2) inset;
box-shadow: 1px -3px 29px -6px rgba(0, 0, 0, 0.2) inset;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.form-content.open {
  max-height:200px; /* Подберите подходящее значение */
  padding: 15px 30px;
  border: 1px solid #f0f0f0;
  
  border-radius: 0 0 5px 5px;
}

.form-get__header-block {
  margin-bottom: 15px;
}

.form-get__header-block__label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.form-get__header-block__input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  position: relative;
  outline: none;
}

