@font-face {
  font-family: 'PakenhamBlItalic';
  src: url('../assets/fonts/PakenhamBlItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
.ItemsContent{
    width: 100%;
    &__rw{
        color: #546D79;
        font-size: 1.25rem;
        &-headers{

            &__task{
                text-align: left;
                max-width: 700px;
                min-width: 100px;
                width: 60%;
            }
        }
        &-items{
            color: black;
            font-size: 1.2rem;
            &__task{

                color: black;
                text-align: left;
            }
            &__importance{
                font-family: 'PakenhamBlItalic' sans-serif;
                font-style: italic;
                font-size: 1.5rem;
            }
         
        }
    }
    
}
.govno-cvg{
    margin: 10px;
}